<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="like">
	<insert id="insert" parameterType="java.util.HashMap">
		insert into store_hit values(#{tel},#{id},#{good})
	</insert>
	<delete id="delete" parameterType="java.util.HashMap">
		delete store_hit where id=#{id} and tel = #{tel}
	</delete>
	
	<select id="result" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select  tp.* from (select sh.TEL,count(sh.TEL) cnt from store_hit sh group by sh.tel) tp where tel=#{tel}
	</select>
	
	<select id="check" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from store_hit where tel=#{tel} and id=#{id}
	</select>
	
	<insert id="shopping" parameterType="java.util.HashMap">
		insert into shopping values(#{tel},#{id})
	</insert>
	
	<delete id="shoppingD" parameterType="java.util.HashMap">
		delete shopping where tel=#{tel} and id=#{id}
	</delete>
	
	<select id="shoppingC" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from shopping where tel=#{tel} and id=#{id}
	</select>
	
	<insert id="review" parameterType="java.util.HashMap">
		insert into review_hit values(#{id},#{review_id},#{good})
	</insert>
	
	<delete id="reviewD" parameterType="java.util.HashMap">
		delete review_hit where reviw_id=#{review_id} and id = #{id}
	</delete>
	
	<select id="reviewC" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from review_hit where tel=#{review_id} and id=#{id}
	</select>
	
	
	
</mapper>
