<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="normalCreate" parameterType="java.util.HashMap">
		insert into user_basic values(#{id},#{pw},sysdate)
	</insert>
	
	
	
	<select id="memberCountOne" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from user_basic where id=#{id} and pw=#{pw}
	</select>
	
	<select id="naverCountOne" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from user_detail where id=#{id}
	</select>
	
	
	
	<insert id="normalDetail" parameterType="java.util.HashMap">
		insert into user_detail values(#{id}, null, null, null, #{profile},null,null)
	</insert>
	
	<insert id="naverDetail" parameterType="java.util.HashMap">
		insert into user_detail values(#{id}, #{nick}, #{gender}, #{birth}, #{profile},null,null)
	</insert>
	<!-- 
	<select id = "selectBasic" parameterType="java.util.HashMap" resultType="java.util.HashMap"> 
		select * from user_basic where id=#{id} and pass=#{pass}
	</select>
	 -->
	<select id = "selectDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from user_detail where id=#{id}
	</select>	
	<select id = "selectReview" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from review where tel_id=#{tel_id}, clean_s=#{clean_s}, taste_s=#{taste_s}, price_s=#{price_s}, 
		good_s=#{good_s}, location_s=#{location_s}, avg_s=#{avg_s}, hit=#{hit}, weather=#{weather}, type=#{type}, 
		content=#{content}, img=#{img}
	</select>

	<update id="updateBasic" parameterType="java.util.HashMap">
		update user_basic set  pw=#{pw} where  id=#{id} and pass=#{pass}
	</update>	
	<update id="updateDetail" parameterType="java.util.HashMap">
		update user_detail 
		set  nick=#{nick}, gender=#{gender}, birth=#{birth}, profile=#{profile}, favor=#{favor}, marry=#{marry} 
		where id=#{id}
	</update>
	<update id ="updateReview" parameterType="java.util.HashMap">
		update review
		set clean_s=#{clean_s}, taste_s=#{taste_s}, price_s=#{price_s}, 
		good_s=#{good_s}, location_s=#{location_s}, avg_s=#{avg_s}, hit=#{hit}, weather=#{weather}, type=#{type}, 
		content=#{content}, img=#{img}
		where tel_id=#{tel_id}
	</update>
	
	
	<select id="info" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from user_detail where id=#{id}
	</select>
	
</mapper>
