<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<!-- 별점+많은 정보 등록 -->
	<insert id="insertBasic" parameterType="java.util.HashMap">
		insert into review
		values( #{tel},#{id},#{clean_s}, #{taste_s}, #{price_s}, #{good_s}, #{location_s}, #{avg_s}, 0 #{weather},#{type}, null, null, sysdate )
	</insert>
	
	<insert id="insertDetails" parameterType="java.util.HashMap">
		insert into review
		values( #{tel},#{id},#{clean_s}, #{taste_s}, #{price_s}, #{good_s}, #{location_s}, #{avg_s}, 0 #{weather},#{type}, #{content}, #{img}, sysdate )
	</insert>
	
	<!-- 이미 등록된 경우 -->
	<update id="updatebasic" parameterType="java.util.HashMap">
		update review set clean_s = #{clean_s}, taste_s = #{taste_s}, price_s = #{price_s}, good_s = #{good_s}, location_s = #{location_s},
		 avg_s = #{avg_s},hit = 0, weather = #{weather}, type = #{type}, content = #{content}, img = #{img} where tel = #{tel} and id = #{id}
	</update>
	
	<update id="updateDetails" parameterType="java.util.HashMap">
		update review set clean_s = #{clean_s}, taste_s = #{taste_s}, price_s = #{price_s}, good_s = #{good_s}, location_s = #{location_s},
		 avg_s = #{avg_s},hit = 0, weather = #{weather}, type = #{type}, content = #{content}, img = #{img} where tel = #{tel} and id = #{id}
	</update>
	<!-- 카테고리 검색 결과 -->
	<select id="reviewResult" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from review where tel = #{tel} order by eat_date desc
	</select>

	<select id="avgResult" parameterType="java.util.HashMap" resultType="java.lang.Double">
		select avg(avg_s) from REVIEW where tel = #{tel}
	</select>
</mapper>
