<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<!-- 별점만 등록 -->
	<insert id="createOnlyStar" parameterType="java.util.HashMap">
		insert into user_basic
		values(#{id},#{pass},sysdate)
	</insert>

	<!-- 별점이외에 많은 정보 등록 -->
	<insert id="createDetail" parameterType="java.util.HashMap">
		insert into user_basic
		values(#{id},#{pass},sysdate)
	</insert>

	<!-- 카테고리 검색 결과 리뷰 불러오기 -->
	<select id="categoryReviewResult" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		select count(*) from member where id=#{id} and pass=#{pass}
	</select>

	<!-- 업체 하나의 리뷰 불러오기 -->
	<select id="detailReviewResult" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		select count(*) from member where id=#{id} and pass=#{pass}
	</select>

	<!-- <insert id="normalDetail" parameterType="java.util.HashMap"> -->
	<!-- insert into user_detail values(#{id}, null, null, null, #{profile},null,null) -->
	<!-- </insert> -->

	<!-- <insert id="naverDetail" parameterType="java.util.HashMap"> -->
	<!-- insert into user_detail values(#{id}, #{nick}, #{gender}, #{birth}, 
		#{profile},null,null) -->
	<!-- </insert> -->




	<!-- <insert id="createOne" parameterType="java.util.HashMap"> -->
	<!-- insert into member values(#{id},#{pass}, #{name}, #{age}, #{gender}, 
		#{email}, sysdate) -->
	<!-- </insert> -->

	<select id="checkCountOne" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		select count(*) from member where id=#{id} and pass=#{pass}
	</select>

	<!-- <select id="checklonginlog" parameterType="java.util.HashMap" > -->
	<!-- insert into loginlog values(#{id},sysdate) -->
	<!-- </select> -->

	<!-- <select id="infolist" resultType="java.util.HashMap" > -->
	<!-- select * from member where id=#{id} -->
	<!-- </select> -->

</mapper>
