<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<!-- 별점만 등록 -->
	<insert id="insertStars" parameterType="java.util.HashMap">
		insert into review
		values(#{clean_s}, #{taste_s}, #{price_s}, #{good_s}, #{location_s}, #{avgs_s} )
	</insert>
	<!-- 별점이외에 많은 정보 등록 -->
	<insert id="insertDetails" parameterType="java.util.HashMap">
		insert into review
		values( #{clean_s}, #{taste_s}, #{price_s}, #{good_s}, #{location_s}, #{avgs_s},#{hit}, #{weather},#{type}, #{content}, #{img} )
	</insert>
	<!-- 카테고리 검색 결과 -->
	<select id="reviewResult" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from review where tel=#{tel};
	</select>

</mapper>
